.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

.nav-oval {
  display: flex;
  align-items: center;
  background-color: #3498db; 
  border-radius: 50px; 
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  text-decoration: none;
  color: #fff; /* Text color */
  font-size: 18px;
  margin: 20px 60px;
  transition: transform 0.2s, color 0.2s;
}


.nav-link:hover {
  color: #f39c12; /* Hover color */
  transform: scale(1.1);
}